<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.mappers.SaleMapper">
	<resultMap type="Sale" id="SaleResult">
		<id property="no" column="no" />
		<result property="orderCount" column="orderCount" />
		<result property="payment" column="payment" />
		<result property="date" column="date" />
		<association property="shopName" javaType="Buyer"
			resultMap="kr.or.dgit.bigdata.swmng.mappers.BuyerMapper.buyerResult" />
		<association property="title"
			resultMap="kr.or.dgit.bigdata.swmng.mappers.SoftwareMapper.softwareResult" />
	</resultMap>

	<!-- 쿼리문을 연결할 변수(ID)생성후 DTO(ID)와 연결 -->
	<select id="selectAll" resultType="Sale" resultMap="SaleResult">
		SELECT sa.*, so.*,b.* FROM sale sa,software so ,buyer b WHERE sa.shopName 
			= b.shopName and sa.title = so.title ORDER BY sa.no
	</select>
	<select id="selectAllOrderByCategory" resultType="Sale" resultMap="SaleResult">
		SELECT sa.*, so.*,b.* FROM sale sa,software so ,buyer b WHERE sa.shopName 
			= b.shopName and sa.title = so.title ORDER BY so.category
	</select>
	<select id="selectAllOrderByTitle" resultType="Sale" resultMap="SaleResult">
		SELECT sa.*, so.*,b.* FROM sale sa,software so ,buyer b WHERE sa.shopName 
			= b.shopName and sa.title = so.title ORDER BY so.title
	</select>
	
	<select id="selectAllOrderByBuyer" resultType="Sale" resultMap="SaleResult">
		SELECT sa.*, so.*,b.* FROM sale sa,software so ,buyer b WHERE sa.shopName 
			= b.shopName and sa.title = so.title ORDER BY sa.shopname
	</select>
	<select id="selectMaxNo" parameterType="int" resultType="Sale">
		SELECT
		MAX(no)+1 no FROM sale
	</select>

	<select id="selectAllSortDate" resultType="Sale" resultMap="SaleResult">
		SELECT
		sa.*, so.*,b.* FROM sale sa,software so ,buyer b
		WHERE
		sa.shopName = b.shopName and sa.title = so.title
		ORDER BY date, sa.no
	</select>

	<select id="selectAllSortSupplier" resultType="Sale" resultMap="SaleResult">
		SELECT
		sa.*, so.*,b.* FROM sale sa,software so ,buyer b
		WHERE
		sa.shopName = b.shopName and sa.title = so.title
		ORDER BY coname,date
	</select>

	<select id="selectAllGroupByConame" resultType="map">
		SELECT shopName,
		sum(orderCount) as totalCnt FROM sale
		group by shopName
	</select>

	<select id="selectBetweenDates" resultMap="SaleResult">
		select sa.*, so.*,b.* FROM sale sa,software so ,buyer b
		WHERE sa.shopName = b.shopName and sa.title = so.title	
		and date &gt;= #{param1} and date &lt;=#{param2}
		ORDER BY sa.no
		
	</select>
	
	<insert id="insertItem" parameterType="Sale">
		INSERT INTO
		sale(no,shopname,title,ordercount,payment,date) VALUES(
		#{no},#{shopName2},#{title2},#{orderCount},#{payment},#{date})
	</insert>
	


</mapper> 