<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.mappers.SoftwareMapper">
	<resultMap type="Software" id="softwareResult">
		<id property="no" column="no" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="supPrice" column="supPrice" />
		<result property="sellPrice" column="sellPrice" />
		<association property="coName"
			resultMap="kr.or.dgit.bigdata.swmng.mappers.CompanyMapper.companyResult" />
	</resultMap>

	<!-- 쿼리문을 연결할 변수(ID)생성후 DTO(ID)와 연결 -->
	<select id="selectAll" resultType="Software" resultMap="softwareResult">
		SELECT
		s.*, c.* FROM software s, company c
		WHERE s.coname=c.coname ORDER BY
		s.no
	</select>

	<select id="selectTitle" resultType="Software">
		SELECT DISTINCT title FROM
		software
	</select>
	<select id="selectByNo" parameterType="int" resultType="Software"
		resultMap="softwareResult">
		SELECT
		s.no,s.category,s.title,s.supPrice,s.sellPrice,c.coName FROM software
		s,company c WHERE c.coname = s.coname and s.no
		=
		#{no}
	</select>
	<select id="selectTitleJoinSale" resultType="Software">
		SELECT DISTINCT sw.title FROM software sw,sale s WHERE sw.title=s.title AND
		s.shopname = #{shopName}
	</select>
	<select id="selectMaxNo" parameterType="int" resultType="Software">
		SELECT
		MAX(no)+1 no FROM software
	</select>

	<select id="selectCategory" resultType="Software">
		SELECT DISTINCT category
		FROM software
	</select>

	<insert id="insertItem" parameterType="Software">
		INSERT INTO
		software(no,category,title,supprice,sellprice,coname)
		VALUES(#{no},#{category},#{title},#{supPrice},#{sellPrice},#{coName2})
	</insert>


	<delete id="deleteItem" parameterType="int">
		DELETE FROM software WHERE
		no = #{no}
	</delete>

	<update id="updateItem" parameterType="Company"> UPDATE software SET
		no=#{no}, category=#{category}, title= #{title}, supPrice=
		#{supPrice},
		sellPrice= #{sellPrice}, coName= #{coName2} WHERE no =
		#{no}
	</update>
</mapper>
